*{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    list-style-type: none;
    text-decoration: none;
}
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
body{
    background:#47baea;
    color:black;
    overflow: hidden;
    padding-bottom: 40px;
}
body h1{
    position: relative;
    top:10px;
    font-family: 'Shadows Into Light', cursive;
    color:white;
    text-align: center;
    font-size: 22px;
    letter-spacing: 4px;
}